# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo

# ========================
# Jupyter Notebook
# ========================
.ipynb_checkpoints/

# ========================
# PyCharm
# ========================
.idea/

# ========================
# Virtual environments
# ========================
venv/
.env/
.conda/
env/

# ========================
# OS bordel
# ========================
.DS_Store
Thumbs.db

# ========================
# Výstupy (uprav dle potřeby)
# ========================
*.csv
*.xlsx
*.png
*.jpg
*.pdf
